.App {
  text-align: center;
}

.App-header {
  background-color: #3d8681;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  padding: 20px;
  color: white;
}

.App-header img {
  width: auto;
  height: 50px;
}

.App-title {
  margin-top: 0;
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

footer {
  padding: 20px;
}

.request-sound {
  font-size: 20px;
  position: relative;
}

.request-sound::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: -25px;
  background-image: url(https://github.githubassets.com/favicons/favicon.png);
  background-size: contain;
}
